<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"><span class="btn btn-danger">AFRI</span>stream</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#"><i class="fa fa-h-square" aria-hidden="true"></i> Home</a>
      <a class="nav-link" href="browse"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Shop</a>
      <a class="nav-link " href="browse"> <i class="fa fa-folder-open" aria-hidden="true"></i> Browse
      </a>

      <a class="nav-link" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Login</a>
    </nav>
  </div>
</header>
