<main role="main" class="inner cover">
  <h1 class="cover-heading">All Your TV In One Place</h1>
  <p class="lead">Watch Anywhere <i class="mdi mdi-checkbox-blank-circle"></i> Cancel Anytime</p>
  <p class="lead">Watch thousands of shows and movies, with plans starting at R99.00/month</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn btn-danger">START YOUR FREE TRIAL</a>
  </p>
  <small>Offer available to new subscribers only</small>
</main>
