
<hr>
<br><br>
<h1>Get Started</h1>
<p><i class="mdi mdi-arrow-down-bold-circle mdi-48px faa-passing animated"></i></p>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <a href="#">
              <div class="card mb-4 shadow-sm">
                <%=image_tag("music-tiles.jpg", class:"card-img-top")%>
                <div class="card-body">
                  <h3>Music</h3>
                </div>
              </div>
            </a>
            </div>

            <div class="col-md-6">
              <a href="#">
              <div class="card mb-4 shadow-sm">
                <%=image_tag("movies-tiles.jpg", class:"card-img-top")%>
                <div class="card-body">
                  <h3>Movies</h3>
                </div>
              </div>
            </a>
            </div>

          </div>
        </div>
